<div class="container">
  <div class="text-center">
    
    <h1>Let's Study</h1>
    <h5>Select the categories you would like to study below:</h5>
    
  </div>
  <div class="text-center">
  <div class="btn-group" data-toggle="buttons">
    <label  ng-repeat="card in cards | unique: 'category'">
      <input 
        type="checkbox"
        ng-model="categories[card.category]"
       value='{{card.category}}'>{{card.category}} <br>
    </label>
  </div>
  <br>
  <button class="btn btn-success" ng-click='study()'>Study</button>
  </div>



  
</div>